* {
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #0f172a;
  color: #e5e7eb;
}

.container {
  display: grid;
  grid-template-columns: 220px 1fr 260px;
  height: calc(100vh - 60px);
}
